
<form class = ""  (ngSubmit)="submit()">
    <div class="container">
    <table>
        <tr><td>Login Details</td></tr>
        <!--<tr><td><div *ngIf="error">
            <span style="color: red;">Please enter valid credentials</span>
        </div></td></tr>-->
        <tr> <td> Email :-</td><td><input type="email" class="form-control" name="id" [(ngModel)]="email"></td></tr>
      <tr><td>Password :-</td><td><input type="password" class="form-control" name="name" [(ngModel)]="password"></td></tr>
      <tr><td>New Password :-</td><td><input type="password" class="form-control" name="name" [(ngModel)]="confirmpassword"></td></tr>
      <tr><td><button type="submit"  class="btn btn-primary">Change password</button></td></tr>
  </table>
</div>
  </form>
  