<p>checkout works!</p>
<form>
    <table>
        <tr>
            <td>Card Number:-</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>Name on the Card:-</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>CVV:-</td>
            <td><input type="number"></td>
        </tr>
        
        <tr aria-colspan="2">
            <td><button><a routerLink="/app-success">Submit</a></button></td>
        </tr>
    </table>
</form>
