
<form>
<div class="container">
    <table>
        <tr><td>Enter Payment Details here</td></tr>

        <tr>
            <td>Card Number:-</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>Name on the Card:-</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>CVV:-</td>
            <td><input type="password"></td>
        </tr>
        
        <tr aria-colspan="2">
            <td><button type ="button" class="btn btn-primary"><a routerLink="/app-success" style="color: white;">Submit</a></button></td>
        </tr>
    </table>
</div>
</form>
