<p style="margin-left: 20%;color: blue;">Items in the cart:- {{products.length}}</p>
<div class="container" *ngIf=isValid>
    <table class="table">
      <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price per kg</th>
            <th>Description</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of products'>
            <td>{{product.id}}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.type }}</td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td><button type="button" class="btn btn-primary" (click)="deleteFromCart(product.id)">Delete</button></td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-primary"><a routerLink="/app-login" style="color: white;">Checkout</a></button></td>
        </tr>
      </tbody>
    </table>
    <h5 style="color: blue;">Total:- {{total}}</h5>
  </div>
  <div *ngIf=!isValid>
    <span style="margin-left: 20%;color: blue;">Cart is empty</span>
  </div>
