<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/app-home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/app-login" routerLinkActive="active">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/app-logout" routerLinkActive="active">Logout <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/app-search" routerLinkActive="active">Seacrh <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/app-cart" routerLinkActive="active">Cart <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-admin" routerLinkActive="active">Admin <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#">Disabled</a>
        </li>
        <li>
      </li>
      </ul>
    </div>
  </nav>-->
  <div class="topnav">
    <a class="nav-link" routerLink="/app-home" routerLinkActive="active">Kitchen-Story</a>
    <a class="nav-link" routerLink="/app-home" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="/app-search" routerLinkActive="active">Search</a>
    <a class="nav-link" routerLink="/app-cart" routerLinkActive="active">Cart</a>
    <a class="nav-link" routerLink="/app-login" routerLinkActive="active">Login</a>
    <a class="nav-link" routerLink="/app-logout" routerLinkActive="active">Logout</a>
    <a class="nav-link" routerLink="/app-admin" routerLinkActive="active">Admin</a>
  </div>
  
  <router-outlet></router-outlet>

